#wrapper {
    background: linear-gradient(#245076, #245076, #245076, #245076, #245076, #3373aa);
    color: white;
    font-family: sans-serif;
    width: 1100px;
}
#header>img {
    display: inline-block;
    margin: 20px 30px;
}
#top_right {
    display: inline-block;
    margin-left: 350px;
    margin-top: 15px;
    vertical-align: top;
    text-align: right;
    font-size: 10pt;
}
#top_right p {
    margin-bottom: 2px;
}
#top_right a {
    color: #f3cd32;
    text-decoration: underline;
}
form {
    background-color: #444444;
    border-radius: 10px;
    padding: 15px 50px;
    box-shadow: 1px 3px 8px 2px #222222;
}
#search {
    height: 30px;
    width: 140px;
    text-align: center;
}
#go {
    background-color: #245076;
    border: solid silver 2px;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
}
#top_menu {
    list-style-type: none;
    background-color: #487fad;
    padding: 10px 50px;
    display: inline-block;
    margin: 10px 70px;
    font-size: 18pt;
    border-radius: 5px;
    box-shadow: 3px 3px 8px 2px #222222;
}
#top_menu>li {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}
#side_menu {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 200px;
    list-style-position: inside;
}
#side_menu>li {
    text-decoration: underline;
    margin-top: 10px;
}
#description {
    display: inline-block;
    vertical-align: top;
    width: 700px;
}
#description>p {
    color: #f3cd32;
    font-size: 16pt;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#description>#white_text {
    color: white;
    font-size: 12pt;
    font-style: normal;
}
#description>#quote_tag {
    color: white;
    font-size: 14pt;
    font-style: normal;
}
#white_block {
    background-color: white;
    color: black;
    text-align: center;
}
.links {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    padding-top: 10px;
    margin-right: 20px;
}
.links .blue_bar {
    background-color: #73a7d5;
    height: 3px;
    width: 400px;
}
.links>div {
    width: 320px;
}
.links h3 {
    margin: 5px;
}
.links p {
    margin: 5px;
}
.links a {
    color: #83b1d9;
}
#footer {
    color: #84b6e2;
    text-align: center;
    padding-bottom: 1px;
    padding-top: 30px;
}
#footer li {
    display: inline;
    font-size: 14pt;
    margin: 20px;
}
#footer p {
    font-size: 10pt;
}